---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="G&M RUBI ">
	<main>
		<header class="py-1 px-10 flex items-center fixed top-0 w-full justify-between z-20 bg-gray-50 bg-opacity-10 backdrop-filter backdrop-blur-lg">
			<div>
				<img src="" alt="LOGO">
			</div>

			<div class="block">

				<div class="flex gap-2 [&>div>h2]:text-sm">

					<div class="flex">
						<h2>BUSCA LICITACIONES
							<br> <span class="text-xs">CON NOSOTROS</span>
						</h2>

						<div>

						</div>

					</div>

					<div>
						<h2>PUBLICA TU <br> INMUEBLE</h2>
					</div>

					<div>
						<h2>VENDE TU <br> INMUEBLE</h2>
					</div>

					<div>
						<h2>PUBLICA TU <br> PROPIEDAD <br> EN NUESTRA WEB</h2>
					</div>


				</div>

				<nav>
					<ul class="flex space-x-4 text-sm [&>li>a]:font-extrabold">
						<li><a href="">INICIO</a></li>
						<li><a href="">SERVICIO</a></li>
	
						<li><a href="">NOSOTROS</a></li>
	
						<li><a href="">CLIENTES</a></li>
	
						<li><a href="">LICITACIONES</a></li>
					</ul>
				</nav>
				
			</div>
			
		</header>
	</main>
</Layout>

<style>


	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
